<!--payment.html-->

{{ template "header.html" .}}

<div class="container">
	<h1 class="title">Payment required</h1>

	<p class="invPrice">Price: {{.article.Price}} satoshis </p>
	
	<div class="qr"><img src="data:image/png;base64,{{.qrCode}}"></div>

	<div class="invoice"><p> {{.invoice}}</p></div>
	
	<input type="hidden" value="{{.macaroon}}" id="macaroon">
	<input type="text" id="preimage" placeholder="Paste the pre-image here!" required>
	<button style="display: block; margin: 0 auto;" onclick="storeLSAT({{.article.ID}});">Done!</button>
</div>

{{ template "footer.html" .}}
